/* adjust body when menu is open */
body.slide-navbar--active {
    overflow-x: hidden
}
/*first child of #page-content so it doesn't shift around*/
.no-margin-top {
    margin-top: 0px!important
}
/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
.slide-navbar  #page-content {
    position: relative;
    padding-top: 0px;
    left: 0;
}
.slide-navbar #page-content.slide-navbar--active {
    padding-top: 0
}



/* put toggle bars on the left :: not using button */
.slide-navbar #slide-nav .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    margin: 0;
    width: 30px;
    height: 40px;
    padding: 10px 0 0 0;
    border: 0;
    background: transparent;
}
/* icon bar prettyup - optional */
.slide-navbar #slide-nav .navbar-toggle > .icon-bar {
    width: 100%;
    display: block;
    height: 3px;
    margin: 5px 0 0 0;
}
.slide-navbar #slide-nav .navbar-toggle.slide-navbar--active .icon-bar {
    background: orange
}
.slide-navbar .navbar-header {
    position: relative
}
/* un fix the navbar when active so that all the menu items are accessible */
.slide-navbar .navbar.navbar-fixed-top.slide-navbar--active {
    position: relative
}
/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */
@media (max-width:767px) { 
nav.navbar .container-fluid {
    padding: 0;
}
	.slide-navbar #slide-nav .container {
	    margin: 0!important;
	    padding: 0!important;
      height:100%;
	}
	.slide-navbar #slide-nav .navbar-header {
	    margin: 0 auto;
	    padding: 0 0px;
	}
	.slide-navbar--active #slide-nav .navbar-header {
	    padding: 0 15px;
	}
	.slide-navbar #slide-nav .navbar.slide-navbar--active {
	    position: absolute;
	    width: 80%;
	    top: -1px;
	    z-index: 1000;
	}
	.slide-navbar #slide-nav #slidemenu {
	    left: -100%;
	    width: 80%;
	    min-width: 0;
	    position: absolute;
	    padding-left: 0;
	    z-index: 2;
	    top: 0px;
	    margin: 0;
	}
	.slide-navbar #slide-nav #slidemenu .navbar-nav {
	    min-width: 0;
	    width: 100%;
	    margin: 0;
	}
	.slide-navbar #slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
	    min-width: 0;
/*	    width: 80%; */
	    white-space: normal;
	}
	.slide-navbar #slide-nav {
	    border-top: 0
	}
	.slide-navbar #slide-nav.navbar-inverse #slidemenu {
	    background: #333
	}
	/* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
	.slide-navbar #navbar-height-col {
	    position: absolute;
	    top: 0;
	    height: 100%;
		min-height:100vh;
      bottom:0;
	    width: 80%;
	    left: -80%;
	    background: #f7f7f7;
	}
	.slide-navbar #navbar-height-col.inverse {
	    background: #333;
	    z-index: 1;
	    border: 0;
	}
	.slide-navbar #slide-nav .navbar-form {
	    width: 100%;
	    margin: 8px 0;
	    text-align: center;
	    overflow: hidden;
	    /*fast clearfixer*/
	}
	.slide-navbar #slide-nav .navbar-form .form-control {
	    text-align: center
	}
	.slide-navbar #slide-nav .navbar-form .btn {
	    width: 100%
	}
	
	
	
	
	
	
	
/*slide-navbar--right*/
.slide-navbar--right.slide-navbar #slide-nav .navbar-toggle{ float:right; }

.slide-navbar--right00.slide-navbar--active #slide-nav .navbar-toggle {
    position: fixed !important;
    right: 10px;
    top: 0;
    z-index: 777;
}

.slide-navbar--right main#page-content.slide-navbar--active {
    left: auto !important;
    right: 80% !important;
}

.slide-navbar--right.slide-navbar #slide-nav #slidemenu{
	left:auto;
	right:-100%;
}

.slide-navbar--right .navbar-header.slide-navbar--active {
    left: auto !important;
    right: 80% !important;
}

.slide-navbar--right #slidemenu.slide-navbar--active {
    right: 0px !important;
    left:auto !important;
}

.slide-navbar--right.slide-navbar #navbar-height-col{
	left: auto !important;
    right: -80% !important;
}

.slide-navbar--right.slide-navbar--active #navbar-height-col{
	right: 0% !important;
	z-index: 1;
}


}
@media (min-width:768px) { 
	.slide-navbar #page-content {
	    left: 0!important
	}
	.slide-navbar .navbar.navbar-fixed-top.slide-navbar--active {
	    position: fixed
	}
	.slide-navbar .navbar-header {
	    left: 0!important
	}
}
